<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".RadioWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/radio_widget_info" />
        </receiver>
        <receiver
            android:name=".PlayPinnedStationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.agimaulana.radio.action.PLAY_PINNED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
