<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".TilesWidgetReceiver"
            android:label="24.7 FM Tiles"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="io.github.agimaulana.radio.ACTION_REFRESH_WIDGETS" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tiles_widget_info" />
        </receiver>

        <receiver
            android:name=".ListWidgetReceiver"
            android:label="24.7 FM List"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="io.github.agimaulana.radio.ACTION_REFRESH_WIDGETS" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/list_widget_info" />
        </receiver>

        <receiver
            android:name=".FullWidgetReceiver"
            android:label="24.7 FM Full"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="io.github.agimaulana.radio.ACTION_REFRESH_WIDGETS" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/full_widget_info" />
        </receiver>
    </application>

</manifest>
